<div class="row">
    <div class="col-12">
        <table>
            <tr>
                <td align="left">
                    <h1 class="fst-italic" [style.color]="headerColor">Books</h1>
                </td>
                <td align="right"><button class="btn btn-outline-light float-end mb-2">Add New Book</button></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="mat-elevation-z8">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput placeholder="Filter" (keyup)="FilterChange($event)">
            </mat-form-field>
            <mat-table matSort [dataSource]="dataSource">

                <!--Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                <!--Position Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Id </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.bookId}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="author">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Author </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.bookName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.authorName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="language">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Language </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.bookLanguage}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="genre">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Genre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.genreName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="year">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Year </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.bookPublishedYear}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pages">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Pages </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.bookNumOfPages}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="copys">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Copys </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.bookCopys}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" [matTooltip]="'Edit'" [matTooltipPosition]="'above'">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" [matTooltip]="'Delete'" [matTooltipPosition]="'above'">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons>

            </mat-paginator>
        </div>
    </div>
</div>