<app-nav-bar [activeUser]="activeUser"></app-nav-bar>
<div class="row">
    <div class="col-12 mt-4">
        <h1>About Us</h1>
        <p>
            The main objective of this web is to provide the hand free access to the library portal through web
            interface.
            <br><br>We have a big collection of books with the options of retrieving the details of the books that
            available
            in
            the library <br><br> and borrow them.
        </p>
        <h1 class="mt-4">How to borrow a book</h1>
        <p>
            <mark class="fw-bolder">In order to borrow a book you will need to be logged, if you dont have account you
                will
                need to register.</mark>
            <br><br>
            In the Books section you will find all the books available in the library.
            you will have the options to filter the books by <br><br> (Names, Genres, Year, Pages, Languages, Authors).
            each book has two buttons "Info" that will provide the information<br><br of the book>and "Borrow" that will
            let you borrow the book.
            when you will find the book you want to borrow you will only need to click <br><br> on "Borrow".
        </p>
        <h1 class="mt-4">How to return a book</h1>
        <p>
            <mark class="fw-bolder">In the Borrows section you will find all the borrows you have made.</mark>
            <br><br>you will have all the details of each borrow you made.
            when a borrow has one day till the return the borrow row will be red.
            <br><br>in order to return the book you will need to click on this button <mat-icon>assignment_returned
            </mat-icon> to return the book.
        </p>
    </div>
</div>
<app-footer></app-footer>