<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border">
          <div class="panel-heading">
            <h2 class="pt-3 font-weight-bold">Login</h2>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="loginForm">
              <div class="form-group pt-3">
                <div class="input-field" [class.error]="loginForm.controls['UsersUserName'].dirty && loginForm.hasError('required','UsersUserName')">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="UsersUserName" type="text" placeholder="Username">
                  <span class="p-2"></span>
                </div>
              </div>
              <small *ngIf="loginForm.controls['UsersUserName'].dirty && loginForm.hasError('required','UsersUserName')"
                class="text-danger">*UserName is required.</small>
              <div class="form-group pt-3">
                <div class="input-field" [class.error]="loginForm.controls['UsersPassword'].dirty && loginForm.hasError('required','UsersPassword')">
                  <span class="fa fa-lock p-2"></span>
                  <input formControlName="UsersPassword" [type]="type" placeholder="Password">
                  <span (click)="hideShowPass()" class="fa {{eyeIcon}} p-1"></span>
                </div>
              </div>
              <small
              *ngIf="loginForm.controls['UsersPassword'].dirty && loginForm.hasError('required','UsersPassword')"
              class="text-danger">*Password is required.</small>
              <button (click)="onSumbit()" type="submit" class="btn btn-secondary btn-block mt-4 w-100">Login</button>
              <div class="text-center pt-4 text-muted">Don't have account? <a id="signup" routerLink="/signup">Sign
                  Up</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>