<form class="example-form" [formGroup]="authorForm" (ngSubmit)="saveAuthor()">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Id</mat-label>
        <input matInput placeholder="ID" formControlName="authorId">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" formControlName="authorName">
        <mat-error *ngIf="authorForm.get('authorName')?.hasError('required')">*Author name is required.</mat-error>
        <mat-error *ngIf="authorForm.get('authorName')?.hasError('pattern')">*Author name must start with Upper Case and
            be
            alphabet.
        </mat-error>
        <mat-error *ngIf="authorForm.get('authorName')?.hasError('maxlength')">*Author name Max length is up to 50.
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Country</mat-label>
        <input matInput type="text" placeholder="Country" formControlName="authorCountry">
        <mat-error *ngIf="authorForm.get('authorCountry')?.hasError('required')">*Country name is required.</mat-error>
        <mat-error *ngIf="authorForm.get('authorCountry')?.hasError('pattern')">*Country name must start with Upper Case
            and be alphabet.
        </mat-error>
        <mat-error *ngIf="authorForm.get('authorCountry')?.hasError('maxlength')">*Country name Max length is up to 50.
        </mat-error>
    </mat-form-field>

    <div mat-dialog-action [align]="'center'" class="mt-5">
        <button mat-raised-button color="primary">Save</button>
        <button type="button" class="ms-4" mat-raised-button color="accent" (click)="closeDialog()">Close</button>
    </div>
</form>